.usersGrid {
    padding: 5;
    margin: 5;
    background: #0c1008;
    border: none;
}

.studentGrid {
    margin: 5;
    font-size: 20;
}

.tableWrapper {
    margin-left: 10;
    padding: 0;
    background: #0c1008;
    row-gap: 5;
}

.header label {
    font-style: bold;
    font-size: 35;
    vertical-align: center;
}

.datePicker {
    font-size: 20;
}

.listEntry {
    width: 220;
}

.studentButton {
    margin-top: 10;
}

.addStudentFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addStudentBox {
    padding: 10 10;
    margin: 5 5 5 -5;
}

.newStudentEntry {
    margin-right: 5;
    width: 300;
}

#AttendanceCheckbox {
    color: #ff0000;
}